body {
    margin:0px;
    padding:0px;
}


.main-wrapper {
    width:100%;
}

.fullscreen-image {
    width:100%;   
}

.main-wrapper h2 {
    font-size:40px;
    font-family:Helvetica;
    text-align:center;
}

.main-wrapper p {
    font-size:20px;
    font-family:Helvetica;
    text-align:center;
}